<?xml version="1.0"?>

<model>
  <name>calibration_tag_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hamidreza Kasaei</name>
    <email>hamidreza.kasaei@rug.nl</email>
  </author>

  <description>
    a calibration tag for camera calibration .
  </description>
</model>
