<?xml version="1.0" ?>
<model>
  <name>chessboard</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Hamidreza Kasaei</name>
    <email>hamidreza.kasaei@rug.nl</email>
  </author>
  <description>
        A chessboard for camera calibration (each bin is 22 X 22 mm)
      </description>
</model>
